body {
    background: rgb(236, 236, 236)
}

.card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: #fff;

}


.image-card {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image-card-1 {
    background-color: rgb(201, 201, 201)
}

.image-card-2 {
    background-color: #00D7D2
}

.image-card-3 {
    background-color: #FF75A0
}




.card-text {
    font-size: 13px
}

.card-body a {
    font-size: 12px
}

.about span {
    font-size: 12px
}

#category_name {
    display: none;
}

@media (max-width: 767px) {

    #category_name {
        display: block;

    }

    #bottom_category_name {
        display: none;
    }
}

.form-group {
    margin-bottom: 20px;
}

